*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*body {
    font-family: 'Raleway', sans-serif;
}*/

nav a {
    position: relative;
    display: inline-block;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1em;
}

nav a:hover,
nav a:focus {
    outline: none;
    color: white;
    text-decoration: none;
}

.cl-effect a {
    margin: 0 5px;
    padding: 5px 10px;
}

.cl-effect a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: top 0.3s;
    -moz-transition: top 0.3s;
    transition: top 0.3s;
}

.cl-effect a::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

.cl-effect a:hover::before {
    top: 100%;
    opacity: 1;
}

.cl-effect a:hover::after {
    height: 100%;
}